.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 30px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width: 100%;
  height: 30vw;
  max-height: 350px;
  background: center / cover no-repeat url('/e-sports.jpeg');
  animation: bannerAnim 20s ease-in-out 0s infinite alternate-reverse backwards;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5vw;
}

.edit {
  display: flex;
  justify-content: end;
  margin: 10px;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px 7%;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.faqContainer {
  width: 95%;
  padding: 15px;
}

.FaqContainer button{
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.addButton {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

@keyframes bannerAnim {
  0% {
    background-position: center top;
    background-size: 100%;
  }

  100% {
    background-position: center top;
    background-size: 120%;
  }
}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}